$gray-400: rgba(42, 42, 42, 1);
$primary: #000000;
$secondary: #ffffff;

// Import Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* @import "bootstrap/dist/css/bootstrap.css"; */
